<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><a href="<%= about_url %>">About</a></li>
      <li><a href="<%= contact_url %>">Contact</a></li>
      <li><a href="http://news.railstutorial.org">News</a></li>
    </ul>
  </nav>
</footer>