<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="<%= root_url %>">App</a>
      <nav>
        <ul class="nav pull-right">
          <li><a href="<%= root_url %>">Home</a></li>
          <li><a href="<%= help_url %>">Help</a></li>
          <li><a href="<%= '#' %>">Sign in</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>